@charset "utf-8";

@media screen and (min-width: 800px) {
    .container {
      margin: 1em 2em;
    }
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    outline: 0;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    overflow-x: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border: 1px solid #000;
    background: rgb(252, 248, 235);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #007cb9;
    border-radius: 10px;
}


/*Header*/
.primary-header {
    width: 100vw;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

.mobile-nav-toggle{
    display: none;
}

.main_name a{
    padding-left: 20px;
    font: Italic 26px "Playfair Display";
    color: #000;
}

.main_name .dif_font1 {
    font-family: "Libre Barcode 128 Text";
}

.main_name .dif_font2 {
    font-family: "Gowun Batang";
}

/*menu*/
.primary-navigation {
    list-style: none;
    padding: 0;
    background: hsl(0 0% 0% / 0)
}

.primary-navigation li {
    display: inline-flex;
    padding-left: 40px;
}

.primary-navigation a {
    text-decoration: none;
    color: #000;
    font-family: "Playfair Display";
    font-size: 20px
}

.primary-navigation a:hover {
    color: #007cb9;
}

@media (max-width: 35em) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 50%;
        display: flex;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: rgba(240, 240, 240, 0.9);
        backdrop-filter: blur(1rem);
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-navigation a {
        padding-right: 30px;
        padding-bottom: 30px;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url(../icon/menu_icon.png);
        background-repeat: no-repeat;
        width: 3rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: .5rem;
        cursor: pointer;
    }
}



/*footer*/
.credit {
    position: fixed;
    bottom: 10px;
    padding-left: 20px;
    font: normal 16px "EB Garamond" ;
    color: #999;
    z-index: -1;
}

/*Index(bio) Page*/

  .bio-content {
    width: 100%;
    margin-top: 5rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
  }

  .bio-photo {
    padding-top: 0;
  }

  .bio-photo img {
    width: 320px;
    height: auto;
  }

  .bio-text {
    width: 50%;
    padding-left: 50px;
    color: #000;
  }


  .bio-text h1 {
    font: normal 35px "Playfair Display";
    padding-bottom: 50px;
    letter-spacing: 2.5px;
  }

  .bio-text .edu {
    font: bold 18px "EB Garamond";
    color: #000;
    padding-bottom: 30px;
    line-height: 1.5;
  }

  .bio-text .edu span{
    font: normal 18px "EB Garamond";
    color: #000;
    padding-left: 10px;
  }

  .bio-text p {
    font: normal 16px "EB Garamond";
    line-height: 1.5;
    letter-spacing: .5px;
  }

  .bio-text p span {
    font: bold 18px "Dosis";
    color: #007cb9;
  }

/* Works page*/

.portfolio {
    width: 98.9%;
    height: 57rem;
    display: inline-flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
    .portfolio .audio-list {
        width: 40rem;
        height: 100%;
        padding: 20px;
        border-radius: 10px;
    }

    .audio-list audio {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #playlist {
        width: 100%;
        height: 90%;
    }

    #playlist h1 {
        width: fit-content;
        font: normal 50px "libre barcode 128 text";
        color: #006192;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
    }

    #playlist li a{
        font: normal 24px "EB Garamond";
        color: #000;
        margin-left: 20px;
        margin-right: 20px;
    }

    #playlist li a:hover {
        color: #007cb9;
    }

    #playlist li span {
        font: normal 18px "EB Garamond";
        color: #888;
    }

    #playlist li p {
        font: normal 14px "Lora";
        padding-left: 40px;
        margin-top: 10px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        line-height: 1.8;
        color: #000;
        mix-blend-mode: difference;
    }

    #playlist hr {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #playlist iframe {
        margin-left: 40px;
        margin-bottom: 30px;
    }

    .portfolio .vid-list {
        width: 48rem;
        height: 100%;
        padding: 20px;
        overflow-y: auto;
    }

    .vid-list h1 {
        width: fit-content;
        font: normal 50px "libre barcode 128 text";
        color: #006192;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
    }

    #vid-info .vid-title {
        font: normal 24px "EB Garamond";
        color: #000;
        margin-left: 20px;
    }
    .vid-title span {
        font: normal 18px "EB Garamond";
        color: #000;
        margin-left: 20px;
    }

    #vid-info p{
        font: normal 14px "Lora";
        padding-left: 40px;
        margin-top: 10px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        line-height: 1.8;
        color: #000;
    }

    #vid-info iframe {
        margin-left: 40px;
    }

    

    /*link page*/

    .links-content {
        width: 100%;
        margin-top: 5rem;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
      }

    .link-list {
        width: 700px;
    }

    .link-list li {
        font: normal 50px "libre barcode 39 text";
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .link-list li a{
        color: #555;
    }

    .link-list li a:hover{
        color: #007cb9;
    }
    
    .link-list h1 {
        font: normal 30px "EB garamond";
        margin-bottom: 50px;
    }

    .link-list hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .empty-space {
        width: 400px;
    }
 /*MOBILE VERSION*/
  
  @media (max-width: 64em) {
    body {
        overflow-x: hidden;
    }

    /*mobile index(bio) page*/
      .bio-content {
        width: 100%;
        display: inline-block;
        align-items: center;
        justify-content: space-evenly;
      }

      .bio-photo {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .bio-photo img {
        width: 300px;
        height: auto;
      }

      .bio-text {
        width: 100%;
        position: sticky;
        color: #000;
        margin-top: 50px;
        margin-bottom: 80px;
        padding-right: 50px;
      }

      .bio-text h1 {
        padding-bottom: 50px;
      }
    
      .bio-text .edu {
        padding-bottom: 30px;
      }
    
      .bio-text .edu span{
        padding-left: 10px;
      }

      .works-video .vid-bg video {
        width: 100%;
        height: 100%;
      }
      .portfolio {
        width: 98.9%;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;
        overflow-y: auto;
    }

    .portfolio .audio-list {
        width: 98%;
        margin-bottom: 50px;
    }

    .portfolio .vid-list {
        width: 98%;
        overflow-y: auto;
        margin-bottom: 50px;
    }

    .links-content {
        width: 100%;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    .link-list {
        width: 80%;
    }

    .credit {
        position: static;
        bottom: 0;
        margin-left: 20px;
        padding-bottom: 20px;
        font: normal 16px "dosis" ;
        color: #999;
        mix-blend-mode: difference;
        z-index: -1;
    }
  }